@use '../abstracts/' as *;

.auxiliary-search {
  display: flex;
  position: relative;
  border-radius: 5px;
  font-size: 1.125rem;
  min-width: 170px;

  label {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    padding: 1rem;
    width: 100%;
  }

  input,
  ul {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  input {
    position: absolute;
    border-radius: 5px;
  }

  // TODO : make a new stacking context to go over recipes when open
  &.open {
    display: flex;
    flex-direction: column;

    label {
      visibility: hidden;
    }

    ::placeholder {
      color: #fff;
      opacity: 0.5;
    }

    input,
    ul {
      visibility: visible;
      width: 100%;
      height: auto;
      padding: 1rem;
    }

    input {
      width: 100%;
      color: #fff;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 0.5rem;

      button {
        color: #fff;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.ingredients-color {
    @include darken-hover($color-accent-first);
  }
  &.appliance-color {
    @include darken-hover($color-accent-second);
  }
  &.ustensils-color {
    @include darken-hover($color-accent-third);
  }
}
