@use '../abstracts/' as *;

.auxiliary-search {
  display: flex;
  position: relative;
  border-radius: 5px;
  font-size: 1.125rem;
  min-width: 170px;

  label {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    padding: 1rem;
    width: 100%;
  }

  div {
    display: none;
    border-radius: 5px;
  }

  // TODO : make a new stacking context to go over recipes when open
  &.open {
    flex-direction: column;

    label {
      display: none;
    }

    ::placeholder {
      color: #fff;
      opacity: 0.5;
    }

    div {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
    }

    input {
      padding: 1rem;
      color: #fff;
    }

    ul {
      display: grid;
      padding: 0.5rem 1rem 0 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 0.5rem;
      max-height: 24rem;
      overflow-y: scroll;

      button {
        color: #fff;
        cursor: pointer;
        text-align: left;
        padding: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.ingredients-color {
    @include darken-hover($color-accent-first);
  }
  &.appliance-color {
    @include darken-hover($color-accent-second);
  }
  &.ustensils-color {
    @include darken-hover($color-accent-third);
  }
}
