@use '../abstracts/' as *;

.auxiliary-search {
  display: flex;
  position: relative;

  label {
    color: #fff;
    display: flex;
    min-width: 170px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.125rem;
    cursor: pointer;
    font-weight: 700;
  }

  input,
  ul {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  input {
    position: absolute;
  }

  &.open {
    input,
    ul {
      visibility: visible;
      width: 100%;
      height: auto;
    }
  }

  &.ingredients-color {
    label {
      @include darken-hover($color-accent-first);
    }
  }
  &.appliance-color {
    label {
      @include darken-hover($color-accent-second);
    }
  }
  &.ustensils-color {
    label {
      @include darken-hover($color-accent-third);
    }
  }
}
